.img-item {
    width: -webkit-fill-available;
    max-width: 100%;
    /* height: auto; */
    height: 20.3em;
}

.item-info-product {
    h5 {
        color: #5a381d;
        padding: 5px 0;
    }
}

.product-shoe-info {
    background: #ebdacccc;
    padding: 0.1em;
    height: 100%;
}

.item-price {
    b {
        color: #b2784a;
    }

    .devise {
        font-size: small;
    }
}

.item-btn-to-cart {
    position: relative;
    bottom: 72px;
    left: 27px;
    width: 86%;
    background: #ededed;
    border: 1px solid #ccc;
    transition: 0.5s;
    transform: translateY(100%);
    opacity: 0;

    p {
        padding: 10px;
        color: #727272;
        margin: 0;
    }
}

.item-btn-to-cart:hover {
    background: #d1d1d1;
    border: 1px solid #999;

    p { color: #505050; }
}

.item-btn-to-cart p:hover { color:#404040; }

.shop-info-grid:hover .item-btn-to-cart {
    transform: translateY(0);
    opacity: 1;
}

.item-in-cart {
    position: relative;
    bottom: 72px;
    left: 27px;
    width: 86%;
    background: #b2784a;
    border: 1px solid #855937;
    transition: 0.5s;
    transform: translateY(100%);
    opacity: 0;

    p {
        padding: 10px;
        color: white;
        margin: 0;
    }
}

.shop-info-grid:hover .item-in-cart {
    transform: translateY(0);
    opacity: 1;
}

.men-thumb-item {
    height: 325px;
    background: white;
    margin: 0.25em;
}